# SATSET Frontend Requirements
# Main dependencies listed in package.json

vue^3.5.17
vue-router^4.5.1
pinia^3.0.3
axios^1.10.0
tailwindcss^4.1.11
@headlessui/vue^1.7.23
vue-toastification^2.0.0-rc.5
html-to-image (required for Wrapped download)
apexcharts^5.3.0
vue3-apexcharts^1.8.0
chart.js^4.5.1
date-fns^4.1.0
swiper^11.2.10
@fullcalendar/vue3^6.1.19
browser-image-compression^2.0.2
